
body{
	background-color: #84B59F;
}
.topnav {
   background-color: #333333;
   overflow: hidden;
}

.topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: #DDDDDD;
   color: black;
}

.topnav a.active {
   background-color: #04AA6D;
   color: white;
}
<div class="topnav">
  <a href="index.html">Home</a>
  <a href="breakfast.html" class="active">Breakfast</a>
  <a href="maindishes.html">Main Dishes</a>
  <a href="sidedishes.html">Side Dishes</a>
  <a href="snacks.html">Snacks</a>
  <a href="Desserts.html">Desserts</a>
</div>